/* ====================== Show Menu ==================================================*/
.header-menu {
  position: absolute;
  flex: column;
  z-index: 1033;
  right: 5%;
  padding-top: 2%;
  top: 0;
  overflow: hidden;
}

.menu-slide {
    height: 0; 
    position: absolute!important;
    position: fixed !important;
    z-index: 1032; 
    top: 0; 
    right: 0;
    overflow-x: hidden;
    padding: 4%;
    background-color:rgba(22, 34, 47, 0.97);;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    will-change: opacity,visibility,height;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-transition: opacity .35s,visibility .35s,height .35s;
    transition: opacity .35s,visibility .35s,height .35s;
}

.menu-slide-show {  
  opacity: 1;
  visibility: visible;
  height: 100%; 
}

.menu-slide-hidden {  
  visibility: hidden;
  opacity: 0;
}

.menu-slide .list {
    /* margin-left:1em;
    float: left; */
    text-decoration:none;
    color: #ffffff;
    list-style: none;
    cursor: pointer;
    font-size: 32px;
    padding-bottom: 34px;
    font-weight: bold;
    opacity: 0;
}

.menu-slide-show .list {
  will-change: opacity,left;
  -webkit-transform: translateZ(0);
  -webkit-animation: fadeInRight .5s ease forwards;
  animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .36s;
  animation-delay: .36s;
}
@-webkit-keyframes fadeInRight{
  0%{
      opacity:0;
      -webkit-transform:translateX(100px);
      transform:translateX(100px)
  }
  100%{
      opacity:1;
      -webkit-transform:translateX(0);
      transform:translateX(0)
  }
}
@keyframes fadeInRight{
  0%{
      opacity:0;
      -webkit-transform:translateX(100px);
      -ms-transform:translateX(100px);
      transform:translateX(100px)
  }
  100%{
      opacity:1;
      -webkit-transform:translateX(0);
      -ms-transform:translateX(0);
      transform:translateX(0)
  }
}

.animated-underline {
  color: #FFFFFF!important;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 0px 20px;
  position: relative;
}
.animated-underline:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #E5BF76;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}
.animated-underline:hover:after { 
  width: 100%; 
  left: 0; 
}
.animated-underline:hover {
  color: #E5BF76!important;
}


.close {
  opacity: 1!important;	
}


@media only screen and (min-width: 0px) and (max-width: 768px) {
  /* For tablets: */
  .menu-slide {
    width: 100%
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .menu-slide {
    width: 100%
  }
}

/* ====================== Menu button ==================================================*/
#menu-button {
  display: flex;
  margin: 0;
  border: none;
  background: none;
  padding: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#menu-button span {
  display: block;
}

.menu-button-title {
  /* padding-top: 14px; */
}

/* ====================== lines button ==================================================*/
.lines-button {
  height: 32px;
  padding: 0 0;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  /* border-radius: 0.57143rem; */
  /* border-color: transparent; */
  border: none;
  background-color: transparent;
}
.lines-button:hover {
  opacity: 1;
}
.lines-button:active {
  transition: 0;
}

.lines {
  display: inline-block;
  width: 2.5rem;
  height: 0.19143rem;
  /* background: #ffffff; */
  border-radius: 0.28571rem;
  position: relative;
}
.lines:before, .lines:after {
  display: inline-block;
  width: 2.5rem;
  height: 0.19143rem;
  /* background: #ffffff; */
  border-radius: 0.28571rem;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
}
.lines:before {
  top: 0.63rem;
  transition: all .35s ease;
}
.lines:after {
  top: -0.63rem;
  transition: all .35s ease;
}

.lines-button:hover .lines:before {
  top: 0.36rem;
  transition: all .35s ease;
}
.lines-button:hover .lines:after {
  top: -0.40rem;
  transition: all .35s ease;
}

/* ====================== animate close ==================================================*/
.lines-button.x.close .lines {
  background: transparent;
}
.lines-button.x.close .lines:before,
.lines-button.x.close .lines:after{
  transform-origin: 50% 50%;
    top:0;
    width: 50;
    background: #ffffff;
}

.lines-button.x.close .lines:before{
  transform: rotate3d(0,0,1,45deg);
}

.lines-button.x.close .lines:after{
  transform: rotate3d(0,0,1,-45deg);  
}