html {
  position: relative;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  background-color: #ffffff !important;
  font-family: 'Prompt', sans-serif !important;
  font-size: 18px;
  font-weight: 400;
}

a:focus, button:focus, input:focus, textarea:focus, .click:focus {
  outline: none !important;
}
a {
  cursor: pointer;
  text-decoration: none !important;
  color: initial !important;
}

.container-fluid {
  padding-right: 5% !important;
  padding-left: 5% !important;
}

.click {
  cursor: pointer;
}

.font-9 {
  font-size: 9px
}
.font-10 {
  font-size: 10px
}
.font-12 {
  font-size: 12px
}
.font-13 {
  font-size: 13px
}
.font-14 {
  font-size: 14px
}
.font-15 {
  font-size: 15px
}
.font-16 {
  font-size: 16px
}
.font-17 {
  font-size: 17px
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px
}
.font-22 {
  font-size: 22px
}
.font-24 {
  font-size: 24px;
}
.font-26 {
  font-size: 26px
}
.font-32 {
  font-size: 32px
}
.font-48 {
  font-size: 48px;
}
.font-56 {
  font-size: 56px;
}

@media only screen and (min-width: 0px) and (max-width: 992px) {
  .font-16 {
    font-size: 14px
  }
  .font-17 {
    font-size: 15px
  }
  .font-18 {
    font-size: 16px;
  }
  .font-20 {
    font-size: 18px
  }
  .font-22 {
    font-size: 20px
  }
  .font-24 {
    font-size: 22px;
  }
  .font-26 {
    font-size: 24px
  }
  .font-32 {
    font-size: 26px
  }
  .font-48 {
    font-size: 28px;
  }
  .font-56 {
    font-size: 32px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  /* For tablets: */
  .menu-slide {
    width: 100%
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .menu-slide {
    width: 30%
  }
}

.weight-thin {
  font-weight: 200;
}

.weight-med {
  font-weight: 500;
}

.weight-bold {
  font-weight: 700;
}

.color-white {
  color: #ffffff;
}
.color-veniceBlue {
  color: #16222F;
}
.color-black {
  color: #2d2b2b;
}
.color-bandicoot {
  color: #83806F;
}
.color-gold {
  color: #eabe69;
}

.background-ecru {
  background-color: #D6CFBC;
}
.background-snow {
  background-color: #F9F9F9;
}
.background-white {
  background-color: #ffffff;
}
.background-veniceBlue {
  background-color: #16222F;
}
.background-bandicoot {
  background-color: #83806F;
}
.background-gold {
  background-color: #eabe69;
}

.pt-14, .py-14{
  padding-top: 0.875rem!important;
}

/* Select Multi */
.css-1hwfws3 {
  flex-wrap: nowrap !important;
  overflow: hidden !important;
  padding: 0px!important;
  margin: 2px 8px!important;
}
.css-1hwfws3 div{
  overflow: visible !important;
}

/* Slide Main Video */
#mainVideo .owl-dots {
  position: absolute;
  width: 100%;
  cursor: pointer;
  bottom: 2% !important;
}
#mainVideo .fixed-video-aspect {
  position: relative;
}
#mainVideo .fixed-video-aspect:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
#mainVideo .fixed-video-aspect > .item-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Slide Card Video */
.cardVideo .owl-nav {
  position: absolute;
  width: 100%;
  cursor: pointer;
  top: 30% !important;
  left: 0px;
}
.cardVideo .owl-nav .owl-next,
.cardVideo .owl-nav button.owl-prev {
  border: 0 !important;
  background-color: transparent!important;
  font-size: 48px!important;
  font-weight: 100!important;
  position: absolute;
}
.cardVideo .owl-nav button.owl-next:hover,
.cardVideo .owl-nav button.owl-prev:hover {
  background-position: 0px -13px;
  background-color: black;
  color: black;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .cardVideo .owl-nav button.owl-prev {
    display: none;
  }
  .cardVideo .owl-nav button.owl-next {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .cardVideo .owl-nav button.owl-prev {
    left: -30px;
  }
  .cardVideo .owl-nav button.owl-next {
    right: -30px;
  }
}
@media only screen and (min-width: 1200px) {
  .cardVideo .owl-nav button.owl-prev {
    left: -45px;
  }
  .cardVideo .owl-nav button.owl-next {
    right: -45px;
  }
}